<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="npi.practicaandroid.tutorialnpi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCACTION"/>
	
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >      
        <activity
            android:name="npi.practicaandroid.tutorialnpi.Tutorial"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="npi.practicaandroid.tutorialnpi.Multitouch"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/title_activity_multi_touch" >
        </activity>
        <activity
            android:name="npi.practicaandroid.tutorialnpi.Accelerometer"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_accelerometer" >
        </activity>
        <activity
            android:name="npi.practicaandroid.tutorialnpi.DataBase"
            android:label="@string/title_activity_data_base" >
        </activity>
        <activity
            android:name="npi.practicaandroid.tutorialnpi.AddContact"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name="npi.practicaandroid.tutorialnpi.RemoveContact"
            android:label="@string/title_activity_remove_contact" >
        </activity>
        <activity
            android:name="npi.practicaandroid.tutorialnpi.ReadContact"
            android:label="@string/title_activity_read_contact" >
        </activity>
    </application>

</manifest>
